<!DOCTYPE HTML>
<HTML>
    <head>
        <script src="JS/myCalendar.js"></script>

        <link rel="stylesheet" href="JS/CSS/navigationMenu.css">
        <link rel="stylesheet" href="JS/CSS/clock.css">

        <link rel="icon" type="image/png" sizes="32x32" href="icon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="icon.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
        <!--<script src="https://kit.fontawesome.com/41875f673d.js" crossorigin="anonymous"></script>-->    

        <meta charset="utf-8">

        <title> Строничка </title>  

    </head>

    <body>

        <header>
            Главная страница
        </header>

        <nav class = "navbar">
            
            <a name="iconstore" href="Contact.html"><img name="icon" src="JS/Icons/circle-solid.svg " width="20" > Контакт</a>
            <a name="iconstore" href="tests.html"><img name="icon" src="JS/Icons/circle-solid.svg " width="20">  Тест по дисциплине</a>
            <a name="iconstore" href="Photos.html"><img name="icon" src="JS/Icons/circle-solid.svg " width="20">  Фотоальбом</a>
            <a name="iconstore" href="Study.html"><img name="icon" src="JS/Icons/circle-solid.svg " width="20">  Учёба</a>
            <a name="iconstore" href="AboutMe.html"><img name="icon" src="JS/Icons/circle-solid.svg " width="20">  Обо мне</a>
                
                <div class="dropdown">

                    <button class="dropbtn">

                        <a name="iconstore" href="MyInterests.html"><img name="icon" src="JS/Icons/circle-solid.svg" width="20"></i > Мои интересы</a>
                        

                    </button>
                        
                            <div class ="dropdown-content">
                                <ul>
                                    <li><a href="MyInterests.html#hobbi"> Мои хобби </a></li>
                                    <li><a href="MyInterests.html#music"> Моя любимая музыка </a></li>
                                    <li><a href="MyInterests.html#films"> Мои любимые фильмы </a></li>
                                    <li><a href="MyInterests.html#books"> Мои любимые книги  </a></li>
                                </ul>

                            </div>
                        
                </div>

            <div id="calendar"></div>

        </nav>


        <p>
            <img src="profile.gif" alt="извините, картинки не будет :(" height=150 width=100 align ="left">
            <ul>
                Максим Камышов Валерьевич<br>
                Группа: ИС/б-19-1-о<br>
                Текущая лабораторная: «Исследование возможностей языка разметки гипертекстов HTML и каскадных таблиц стилей CSS»<br> 
            </ul>
        </p>

        <script src="JS/icons.js"></script>
    </body>
</HTML>