<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Мои интересы </title>
    </head>


    <body>

        <nav>
            <a href="Contact.html">Контакт</a> <br>
            <a href="Tests.html">Тест по дисциплине</a> <br>
            <a href="Photos.html">Фотоальбом</a> <br>
            <a href="Study.html">Учёба</a> <br>
            <a href="AboutMe.html">Обо мне</a> <br> <br>

            <a href="#hobbi"> Мои хобби </a> <br>
            <a href="#music"> Моя любимая музыка </a> <br>
            <a href="#films"> Мои любимые фильмы </a> <br>
            <a href="#books"> Мои любимые книги</a> <br>
        </nav>

        <div id="container"></div>

    </body>
    <script src = "JS/strings.js"></script>
</html>