<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <LINK REL=STYLESHEET TYPE="text/css" HREF="NavMenu.css">
    <title> Учеба </title>

    <style>
        .text-strong{
            font-weight: bold;
        }
        
        .row-title {
            font-weight: normal;
            text-align: left;
            font-style: italic;

        }

        table {
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <h1>Учёба</h1>
    </header>
    <nav>
        <ul CLASS=nav>
            <li><a href="Contact.html">Контакт</a></li> <br>
            <li><a href="Tests.html">Тест по дисциплине</a></li> <br>
            <li><a href="Photos.html">Фотоальбом</a></li> <br>
            <li><a href="MyInterests.html">Мои интересы</a></li><br>
            <li><a href="AboutMe.html">Обо мне</a></li> <br> <br>
        </ul>
    </nav>
    
    <p>
        Севастопольский государственный университет <br>
        Кафедра информационных систем <br>
    </p>
    <h2> Перечень изучаемых дисциплин с 1 по 4 семестр </h2>
    <table align = "center" border = "1" background = "12311.jpg" width = "600" style="color: white;">
        <tr>
            <td rowspan="3">№</td>
            <td rowspan="3"> Дисциплина</td>
            <td colspan="12"><div>Часов в неделю<div>(лекций, лаб. раб, практ. раб)<br></td>
        </tr>
        <tr>
            <td colspan="6">1 курс<br></td>
            <td colspan="6">2 курс<br></td>
        </tr>
        <tr>
            <td colspan="3">1 семестр<br></td>
            <td colspan="3">2 семестр<br></td>
            <td colspan="3">3 семестр<br></td>
            <td colspan="3">4 семестр<br></td>
        </tr>
        <tr>
            <td class = "row-title">1</td>
            <td class = "row-title">Экология</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class = "row-title">2</td>
            <td class = "row-title">Высшая математика<br></td>
            <td>3</td>
            <td>0 <br></td>
            <td>3</td>
            <td>3</td>
            <td>0 <br></td>
            <td>3 <br></td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class = "row-title">3</td>
            <td class = "row-title">Русский язык и культура речи<br></td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class = "row-title">4</td>
            <td class = "row-title">Основы дискретной математики<br></td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>3</td>
            <td>0</td>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class = "row-title">5</td>
            <td class = "row-title"><i> Основы программирования и алгоритмические языки </i><br></td>
            <td>3</td>
            <td>2</td>
            <td>0 <br></td>
            <td>3</td>
            <td>3 <br></td>
            <td>0 <br></td>
            <td>0</td>
            <td>0 <br></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class = "row-title">6</td>
            <td class = "row-title">Основы экологии<br></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1 <br></td>
            <td>0<br></td>
            <td>0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class = "row-title">7</td>
            <td class = "row-title">Теория вероятностей и математическая статистика<br></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>3</td>
            <td>1</td>
            <td>0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class = "row-title">8</td>
            <td class = "row-title">Физика</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>1</td>
            <td>0</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class = "row-title">9</td>
            <td class = "row-title">Основы электротехники и электроники<br></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class = "row-title">10</td>
            <td class = "row-title">Численные методы в информатике<br></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1 <br></td>
        </tr>
        <tr>
            <td class = "row-title">11</td>
            <td class = "row-title">Методы исследования операций<br></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td>1 <br></td>
            <td>0</td>
            <td>2 <br></td>
            <td>1</td>
            <td>1</td>
        </tr>
    </table>

</body>

</html>